.HomeBody {
  margin-top: -20px;
}

.carousel {
  width: 100%;
}

.home-jumbotron {
  background: ##1a496e;
  background-image: url("../images/ZenBG-1.png"), url("../images/ZenBG-2.png");
  background-repeat: repeat-x, repeat;
  color: #fff;
}

.home-jumbotron-emoji {
  margin-right: 8px;
}

.carousel::before {
  margin-bottom: 0;
}
